/*Começo edição Modo Dark e Modo Light*/

.trilho{
    width: 75px;
    height: 35px;
    background-color: rgb(199, 199, 199);
    margin: auto;
    margin-right: 50px;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.ligth{
    background-color: black;
}

.trilho.ligth .indicador{
    left: 40px;
    background-color: white;
}

body.ligth{
    background-color: white;
}

body.ligth h1{
    color: black;
}

body.ligth h2{
    color: black;
}

body.ligth p{
    color: black;
}

#banner.ligth .lado-esquerdo h2{
    color:  #007ACC;
}

#sobreMim.ligth .sobre-mim-direita .titulo p{
    color:  #007ACC;
}

#sobreMim.ligth .sobre-mim-direita p{
    color: black;
}

#sobreMim.ligth .sobre-mim-direita h1{
    color: black;
}

#sobreMim.ligth .sobre-mim-esquerda img{
    box-shadow: -5px 5px 0px 0px  #007ACC;
}

#sobreMim.ligth {
    background: rgb(236, 236, 236);
}

#experiencias.ligth .job h1{
    color: #007ACC;
}
